---

---

<section class="px-6 py-16">
  <div
    class="max-w-3xl mx-auto bg-gradient-to-r from-[#55b290] to-[#3e9776] text-white rounded-xl p-8 shadow-lg"
  >
    <h2 class="text-2xl md:text-3xl font-extrabold mb-6 text-center">
      Beneficios de obtener <span class="text-white">CuarentaF</span>
    </h2>

    <ul class="space-y-4 text-sm md:text-base">
      <li class="flex items-start gap-3">
        <span class="text-yellow-400 text-xl mt-1">⭐</span>
        <p>Genera y envía facturas digitales 100% en línea.</p>
      </li>
      <li class="flex items-start gap-3">
        <span class="text-yellow-400 text-xl mt-1">⭐</span>
        <p>
          Con nuestro Software de inventario y Facturación lleva el control en
          tiempo real de tu negocio.
        </p>
      </li>
      <li class="flex items-start gap-3">
        <span class="text-yellow-400 text-xl mt-1">⭐</span>
        <p>Obtienes un Software en la nube realmente rápido y fácil de usar.</p>
      </li>
      <li class="flex items-start gap-3">
        <span class="text-yellow-400 text-xl mt-1">⭐</span>
        <p>
          Accede a la información de tu negocio desde cualquier lugar, solo
          necesitas un dispositivo con conexión a internet.
        </p>
      </li>
    </ul>
  </div>
</section>
