---

---

<nav class="w-full fixed top-0 left-0 z-50 bg-[#f2f3f4] text-black">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <img src="/img/favico.jpg" alt="Logo" class="h-8 w-8" />
      <span class="text-xl font-bold">40F</span>
    </div>

    <!-- Navegación -->
    <ul class="hidden md:flex items-center gap-6 text-sm font-medium">
      <li>
        <a href="#precios" class="hover:text-[#6E8BFA] transition">Planes</a>
      </li>
      <li>
        <a href="#carac" class="hover:text-[#6E8BFA] transition"
          >Caracteristicas</a
        >
      </li>
    </ul>
  </div>
</nav>
