<section id="precios" class="py-20 bg-white px-6">
  <h2 class="text-3xl font-bold text-center mb-12">
    Encuentra el Plan Adecuado para tu negocio
  </h2>

  <div class="grid md:grid-cols-2 gap-6 max-w-3xl mx-auto justify-center">
    <!-- Plan Básico -->
    <div
      class="border p-6 rounded-2xl text-left shadow hover:shadow-xl transition bg-white"
    >
      <h3 class="text-2xl font-bold mb-4 text-center text-[#f0c654]">
        Plan Básico
      </h3>
      <p class="text-1xl font-bold mb-4 text-center text-[#d1d1d1]">
        TRIMESTRAL
      </p>
      <p class="text-4xl font-bold mb-4 text-center text-[#000000]">$240.000</p>
      <p class="text-gray-600 text-center mb-6">Ideal para emprendedores</p>

      <ul class="space-y-3 mb-6 text-gray-700 text-sm">
        <li class="flex items-center gap-2">✔ Gestión de productos</li>
        <li class="flex items-center gap-2">✔ Gestión de clientes</li>
        <li class="flex items-center gap-2">✔ Factura POS</li>
        <li class="flex items-center gap-2">✔ Inventario</li>
        <li class="flex items-center gap-2">✔ 2 usuarios</li>
        <li class="flex items-center gap-2">✔ Cierre de caja</li>
        <li class="flex items-center gap-2">✔ Reportes</li>
      </ul>

      <div class="text-center">
        <a
          href="#contacto"
          class="bg-[#55b290] text-white px-6 py-2 rounded-full inline-block hover:bg-[#431fc9] transition"
        >
          Seleccionar
        </a>
      </div>
    </div>

    <!-- Plan Profesional -->
    <div
      class="border p-6 rounded-2xl text-left shadow hover:shadow-xl transition bg-white"
    >
      <h3 class="text-2xl font-bold mb-4 text-center text-[#63b6b9]">
        Plan Profesional
      </h3>
      <p class="text-1xl font-bold mb-4 text-center text-[#d1d1d1]">
        TRIMESTRAL
      </p>
      <p class="text-4xl font-bold mb-4 text-center text-[#000000]">$360.000</p>
      <p class="text-gray-600 text-center mb-6">Para negocios en crecimiento</p>

      <ul class="space-y-3 mb-6 text-gray-700 text-sm">
        <li class="flex items-center gap-2">✔ Todo lo del plan básico</li>
        <li class="flex items-center gap-2">✔ Gestión de proveedores</li>
        <li class="flex items-center gap-2">✔ Usuarios ilimitados</li>
        <li class="flex items-center gap-2">✔ Soporte prioritario</li>
        <li class="flex items-center gap-2">
          <strong>✔ Facturación electrónica</strong>
        </li>
        <li class="flex items-center gap-2">✔ Indicadores</li>
      </ul>

      <div class="text-center">
        <a
          href="#contacto"
          class="bg-[#55b290] text-white px-6 py-2 rounded-full inline-block hover:bg-[#431fc9] transition"
        >
          Seleccionar
        </a>
      </div>
    </div>
  </div>
</section>
